/* App.css */
:root {
  --primary: #34495e;
  --primary-dark: #31455a;
  --secondary: #ee8484;
  --light-grey: #727272;
  --olive: #3f3f3f;
  --blue: #81bee0;
  --red: #ff6961;
  --ash: #657d7b;
  --white: #1d1d1d;
  --text-white: #282828;
  --bg-primary: #fdfdfd;
  --bg-secondary: #d4d4d4;
  --success: #2ec952;
  --info: rgb(23, 162, 184);
  --info-dark: #0f6674;
  --info-light: #4eb9d0;
  --black: #000;
  --warning: #ffc107;
  --danger: #dc3545;
  --notify: #026fcf;
  --font-main: "Archivo Narrow", sans-serif;
  --font-secondary: "Julius Sans One", sans-serif;
  --text-white: #505050;
  --sidebar-width: 300px;
  --nav-padding: 40px;
  --nav-height: 100px;
  --footer-height: 20px;
  --main-height: calc(100vh - var(--nav-height));
  --puzzle-width: 180px;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-primary);
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

.app {
  min-height: 100vh;
  min-width: 100vw;
  font-family: var(--font-main) !important;
}
.app {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

.content {
  margin: 0 auto;
  background-color: var(--bg-primary);
  min-height: var(--main-height);
}

.dashboard {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background: #fff;
  border-radius: 8px;
}

.dashboard > h1 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  font-family: var(--font-secondary);
  font-size: 2rem;
  font-weight: 1000;
  margin: 1em auto;
  color: var(--primary);
}

.dashboard-main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.dashboard-main > * {
  flex: 1;
}

.dashboard-main:first-child {
  width: 20%;
}

h1 {
  margin-block-end: 0px;
  margin-block-start: 0px;
}

.company-title {
  font-family: var(--font-secondary);

  font-size: 1.5rem;
  font-weight: 500;
}

.company-title > span {
  color: var(--secondary);
}

.modal-button {
  width: fit-content;
  padding: 1em 4em;
  border: 2px solid var(--secondary) !important;
  background-color: var(--secondary) !important;
  color: white;
  -webkit-mask: conic-gradient(
        from 90deg at bottom 8px right 8px,
        var(--secondary) 90deg,
        #000 0
      )
      var(--_i, 200%) 0 /200% var(--_i, 8px) border-box no-repeat,
    conic-gradient(at bottom 8px left 8px, #0000 90deg, #000 0) 0
      var(--_i, 200%) / var(--_i, 8px) 200% border-box no-repeat,
    linear-gradient(#000 0 0) padding-box no-repeat;
  transition: 0.3s, -webkit-mask-position 0.3s 0.3s;
  transition: all 0.4s;
}
.modal-button:hover {
  --_i: 100%;
  color: var(--secondary);
  background-color: white !important;
}
